<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" href="adminhome.css">
    

</head>
<body>
 <div class="container">
    <h1>Admin Panel</h1>
    <div class="button-grid">
        <form action="addsong">
            <input type="submit" value="ADD SONGS">
        </form>
        <br>

        <form action="viewsongs">
            <input type="submit" value="VIEW SONGS">
        </form>
        <br>

        <form action="createplaylists">
            <input type="submit" value="CREATE PLAYLIST">
        </form>
        <br>
        

        <form action="viewplaylists">
            <input type="submit" value="VIEW PLAYLISTS">
        </form>
    </div>
</body>
</html>
